// 연핑 #F2D8DC 중간핑 #FE83B1 찐핑 #FC4B88 왕찐핑 #D62C5F

@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

button, input, select{
  font-family: 'SUIT-Medium';
}

input, select, textarea{
  border-radius: 5px;
}
select{
  padding-left: 3px;
}

.pageselect{
  margin-left: 10px;
}

body{
  font-family: 'SUIT-Medium';
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
  url("../resource/kirby_admin_bg2.png");
  background-attachment: fixed;
  background-size: cover;
}

.header {
  height: 60px;
  background-color: #FE83B1;
  display: flex;

  .headerMenu{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20px;

    >button{
      margin-left: 10px;
    }
  }
  
  .title{
    font-size: 1.6rem;
    font-weight: bold;
  }

  .logo{
    display: flex;
    align-items: center;
    img{
      height: 60px;
    }
  }
}

.sidebar {
  // padding-top: 20px;
  width: 250px;
  height: calc(100% - 60px);
  position: absolute;
  top: 60px;
  background-color: rgba(254, 131, 177, .3);
}
.sidebar > ul {
  // background: rgba(228, 206, 242, 0.5);
}
.sidebar > ul > li {
  height: 45px;
  overflow: hidden;
  transition: 0.2s;
}
.sidebar > ul > li.show {
  height: auto;
}
.sidebar > ul > li button {
  width: calc(100% - 14px);
  height: 45px;
  padding: 13px 0 13px 75px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0,0,0,.8);
  text-align: left;
  position: relative;
}
.sidebar > ul > li.show button {
  background:#FC4B88;
  border-radius: 0 20px 20px 0px;
  color: #fff;
  font-weight: 600;
}
.sidebar > ul > li.show button::after {
  top: 19px;
}
.sidebar > ul > li button::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
}
.sidebar > ul > li:nth-child(1) button::before {
  left: 43px;
}
.sidebar > ul > li:nth-child(2) button::before {
  width: 17px;
  left: 41.5px;
}
.sidebar > ul > li:nth-child(3) button::before {
  height: 14px;
  left: 41.5px;
}
.sidebar > ul > li:nth-child(4) button::before {
  height: 14px;
  left: 43px;
}
.sidebar > ul > li:nth-child(5) button::before {
  left: 42.5px;
}
.sidebar > ul > li:nth-child(6) button::before {
  height: 14px;
  left: 41.5px;
}
.sidebar > ul > li:nth-child(7) button::before {
  left: 40px;
}
.sidebar > ul > li:nth-child(8) button::before {
  left: 43px;
  margin-top: 2px;
  background-repeat: no-repeat;
}
.sidebar > ul > li:nth-child(9) button::before {
  left: 40px;
  background-repeat: no-repeat;
}

.sidebar > ul > li button::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 7px;
  position: absolute;
  right: 35px;
  top: 20px;
}
.sidebar > ul > li button + .depth2 li a {
  display: block;
  padding: 15px 0 15px 75px;
  font-size: 14px;
}
.sidebar > ul > li button + .depth2 li.on a {
  color: #00778b;
  font-weight: bold;
}

.center{
  margin-left: 250px;
  height: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100vw - 290px);
  overflow: hidden;
}

.modalcontainer {
  /* 모달창 크기 */
  width: 300px;
  height: 200px;

  /* 최상단 위치 */
  // z-index: 100;
  
  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid black;

  >p{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* 모달창 내부 X버튼 */
.modalclose {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modalimg{
  // height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.loginwrapper{
  padding-top: 100px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  input{
    padding: 5px;
    font-size: 16px;
  }

  .loginbox{
    position: absolute;
    top: 40%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
  }

  button{
    background-color:#FE83B1;
    border-radius: 5px;
    font-size: 16px;
  }
  button:hover{
    background-color:#FC4B88;
  }
}

.topBar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  span{
    font-size: 16px;
  }
}

hr{
  height: 1px;
  background-color: #FC4B88;
  border : 0;
}

.searchBar{
  margin-top: 10px;
  margin-left: 10px;
  input{
    margin-right: 10px;
  }
  button{
    padding: 2px 5px 2px 5px;
    background-color:#FE83B1;
    border-radius: 5px;
  }
  button:hover{
    background-color:#FC4B88;
  }
  margin-bottom: 10px;
}

.tableWrapper{
  margin-top: 10px;
  width: 100%;
  overflow-x: auto;
  // overflow-x: scroll;
  overflow-y: hidden;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 20px;
}
table{
  // margin: 0px auto;
  // margin-bottom: 10px;
  white-space:nowrap;
  text-align: center;
  border-spacing: 10px 20px;
  border-collapse: separate;
  
}

.pagination{
  width: 300px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;

  button{
    padding: 2px 8px 2px 8px;
    border-radius: 10px;
    margin: 0px 2px 0px 2px;
    background: rgba(255, 255, 255, 0.2);

    &:hover {
      background: #FE83B1;
      cursor: pointer;
      transform: translateY(-2px);
    }
  
    &[disabled] {
      background: rgba(128, 128, 128, .5);
      cursor: revert;
      transform: revert;
    }
  
    &[aria-current] {
      background: #FC4B88;
      font-weight: bold;
      cursor: revert;
      transform: revert;
    }
  }
}

.btnlst{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  button{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #FE83B1;
    padding: 2px 5px 2px 5px;
  }
}

.adspan1, .adspan2{
  margin-right: 5px;
  margin-left: -10px;
}
.adspan4{
  margin-top: 10px;
}

.adImgForm{
  margin-top: 10px;
  button{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #FE83B1;
    padding: 2px 5px 2px 5px;
  }
  input[type=file]::file-selector-button{
    font-family: 'SUIT-Medium';
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #FE83B1;
    padding: 2px 5px 2px 5px;
    border: none;
  }
}
.adImgPreview{
  margin-top: 10px;
  width: 600px;
}

.adbutton{
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FE83B1;
  padding: 2px 5px 2px 5px;

  .updatebutton{
    font-size: 16px;
  }
}

.notilabel{
  display: flex;
  align-content: center;
  span{
    margin-right: 5px;
  }
  div{
    display: flex;
    align-content: center;
    label{
      display: flex;
      align-content: center;
    }
  }
}

.notiareaname{
  display: flex;
  align-content: center;

  span{
    padding-top: 100px;
  }
}

.notiarea{
  margin-top: 10px;
  margin-left: 5px;
  width: 400px;
  height: 200px;
}

.notibutton{
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FE83B1;
  padding: 2px 5px 2px 5px;
  font-size: 16px;
}

.notispan1{
  padding-right: 5px;
}

.boardinput{
  margin-left: -10px;
}

.boarddetail{
  display: flex;
  flex-direction: column;

  span{
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 10px;
  }
}

.boardwritelist{
  width: 400px;
  background-color: rgba(255, 255, 255, .2);
  padding: 5px 5px 0px 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.writedetail{
  padding: 5px 5px 0px 5px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, .2);
  span, p{
    margin-bottom: 5px;
  }
  .statelist{
    padding-bottom: 5px;
    border-bottom: 1px solid #FE83B1;
  }
  .writecontent{
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #FE83B1;
    white-space: pre-line;
  }
  .commentdetail{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.adadd1{
  margin-right: 5px;
}

.addiv1{
  margin-bottom: 10px;
}

.memberbutton{
  border-radius: 5px;
  background-color: #FE83B1;
  padding: 2px 5px 2px 5px;
}